<!DOCTYPE html>
<html data-ng-app="RedilApp">
  <head>
    <title>REDIL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body data-ng-controller="RedilController">
    <div class="container">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <h1>Redil web</h1>
      <br>
      <form role="form" data-ng-submit="getResults()">
        <div class="form-group">
          <input type="text" name="url" class="form-control" id="url-box" placeholder="Enter URL..." style="max-width: 300px;" ng-model="input_url" required>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <h2>Frequencies</h2>
      <br>
      <div id="results">
        
       <table class="table table-striped">
         <thead>
          <tr>
          <th>Word</th>
          <th>Count</th>
          </tr>
          </thead>
          <tbody>
          {% raw %}
             <tr data-ng-repeat="data in results">
               <td>{{data.name}}</td>
               <td>{{data.url}}</td>
             </tr>
           {% endraw %}
         </tbody>
       </table>
        
      </div>
    </div>
  </div>
</div>
  </body>
</html>

