<!DOCTYPE html>
<html data-ng-app="RedilApp">
  <head>
    <title>REDIL</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/directives.js') }}"></script>
    <script src="{{ url_for('static', filename='js/filters.js') }}"></script>
    <script src="{{ url_for('static', filename='js/routes.js') }}"></script>
    <script src="{{ url_for('static', filename='js/factories.js') }}"></script>
    <script src="{{ url_for('static', filename='js/searchController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uploadController.js') }}"></script>
  </head>
  <body>
  <!-- The top toolbar -->
    <div>
    <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Icono redil">
             <md-icon class="material-icons">filter_drama</md-icon>
          </md-button>
          <h2>
            <span class="md-title">Redil</span>
          </h2>
          <span flex></span>
          <span class="md-body-2 flex="5"><a href="#search">search</a></span>
          <span flex="5"></span>
          <span class="md-body-2 flex="5"><a href="#upload">upload</a></span>
      </div>
    </md-toolbar>
    </div>
    <div id="main">
        <div data-ng-view></div>
    </div>
 </body>
</html>

