<!DOCTYPE html>
<html data-ng-app="RedilApp">
  <head>
    <title>REDIL</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </head>
  <body>

    <div ng-controller="Ctrl">
      <md-button choose-file-button="file-input" aria-label="xxx" class="md-fab" ng-click="">
        <md-icon md-svg-icon="{{ url_for('static', filename='img/icons/ic_file_upload_24px.svg') }}"></md-icon>
      </md-button>
      <input id="file-input" type="file" file-upload multiple/>
      <md-button data-ng-click="save()">save</md-button>
      <ul>
           {% raw %}
          <li ng-repeat="file in files">{{file.name}}</li>
           {% endraw %}
      </ul>
    </div>
  </body>
